@model players_catalog.Models.PlayerFormModel

<h2 class="text-center my-4">Dodaj Piłkarza</h2>

@using (Html.BeginForm())
{
    <div class="form-group mb-3">
        <label for="Name" class="form-label">Imię</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Podaj imię piłkarza" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <label for="Age" class="form-label">Wiek</label>
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control", @type = "number", min = "1", max = "100", @placeholder = "Liczba lat doświadczenia" })
        @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <label for="Position" class="form-label">Pozycja</label>
        @Html.TextBoxFor(m => m.Position, new { @class = "form-control", @placeholder = "Podaj pozycję piłkarza" })
        @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <label for="TeamId" class="form-label">Zespół</label>
        <select name="TeamId" class="form-control">
            @foreach (var team in ViewBag.Teams)
            {
                <option value="@team.Id">@team.Name</option>
            }
            @Html.ValidationMessageFor(m => m.TeamId, "", new { @class = "text-danger" })
        </select>
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
}
